/* Set the H1 element to red and the font size to 50px */
h1 {
    color: red;
    font-size: 50px;
}

/* Set the H2 element font weight to normal and set the padding left to 30px */
h2 {
    font-weight: normal;
    padding-left: 30px;
}

/* Set the paragraph elements to italic and the color to dark magenta */
p {
    font-style: italic;
    color: darkmagenta;
}
